.navbar {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo-container {
  display: flex;
  height: 100px;
  cursor: pointer;
}

.logo-image {
  height: 100%;
  z-index: 110;
}

.navbar-menu {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.navbar-item {
  margin-right: 24px;
  padding: 0.3rem;
  justify-content: center;
  font-size: 1.1em;
}

.navbar-item a {
  color: white;
  transition: color 0.3s;
}

.navbar-item a:hover {
  color: #e09f3e;
}

.hamburger {
  display: none;
}

.logout-button {
  background-color: #495057;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1.2em;
  padding: 10px 20px;
  margin: 0 0.2em;
  display: inline-block;
  align-self: center;
  transition: background-color 0.5s ease, transform 0.3s ease;
  white-space: nowrap;
}

.logout-button:hover {
  background-color: #e09f3e;
  transform: scale(1.05);
  cursor: pointer;
}

@media (max-width: 923px) {
  .navbar {
    z-index: 100;
  }

  .hamburger {
    display: block;
    font-size: 1.5em;
    color: white;
    padding: 1rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    z-index: 110;
  }

  .navbar-item {
    padding: 1.5rem;
  }

  .navbar-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: var(--navbar-height, 100px);
    left: 0;
    width: 100%;
    background-color: black;
    transform: translateY(-30rem);
    transition: transform 0.5s ease-out;
    z-index: 10;
  }

  .navbar-menu.expanded {
    transform: translateY(0);
  }
}
